<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

<h4>// There is a new contact request from ballasthardware.com //</h4>
<p>To view the details of this request login to your account by going to http://www.ballasthardware.com/users/sign_in.</p>
<p>Contact Details</p>
<p><b>Name:</b> <%= @contact.contact_name %></p>
<p><b>Email:</b> <%= @contact.contact_email %></p>
<p><b>Email:</b> <%= @contact.contact_description %></p>
<p><b>Created:</b> <%= @contact.created_at %></p>
<p>// Ballasthardware.com Support</p>
  
  </body>
</html>
