<h2>OUR STORY</h2>

<p>Ballast is a material used to provide stability to a vehicle or structure. When applied in an aquatic vessel, it will remain below the water to counteract the effects of weight above the water level.  We intend to do exactly that.  We are taking proven ideas from the past and blending them with materials and tools we have today to create a better experience for you in and out of the water.  We are hardware made for surfing.  We are made in America.</p>
